---
import { db, HW, OS, Run, eq, desc } from "astro:db";
import { Card, CardContent, CardHeader, CardTitle } from "./ui/card";
import {
  TableCaption,
  TableHeader,
  TableRow,
  TableHead,
  TableBody,
  TableCell,
  Table,
} from "./ui/table";

const runs = await db
  .select()
  .from(Run)
  .innerJoin(HW, eq(Run.hwId, HW.id))
  .orderBy(desc(Run.date));
---

<main class="m-4 grid gap-4">
  <Card className="p-4">
    <CardHeader>
      <CardTitle>Live Data</CardTitle>
    </CardHeader>
    <CardContent>
      <Table>
        <TableCaption
          >Not particularly live yet. Please bear with me this is just a demo</TableCaption
        >
        <TableHeader>
          <TableRow>
            <TableHead className="">Date</TableHead>
            <TableHead>Command</TableHead>
            <TableHead>Method</TableHead>
            <TableHead className="text-right">Duration</TableHead>
          </TableRow>
        </TableHeader>
        <TableBody>
          {
            runs.map(({ HW, Run }) => (
              <TableRow key={Run.id}>
                <TableCell className="text-nowrap">
                  {Run.date.toLocaleString()}
                </TableCell>
                <TableCell>{Run.command}</TableCell>
                <TableCell>{HW.cpu_brand}</TableCell>
                <TableCell className="text-right">
                  {Run.duration}
                </TableCell>
              </TableRow>
            ))
          }
        </TableBody>
      </Table>
    </CardContent>
  </Card>
</main>
