---
import { HW, Run, OS, db, desc, eq, like } from "astro:db";
import SummaryCard from "./SummaryCard.astro";
import BarChartCard from "./BarChartCard";

interface Props {
  commandStr: string;
}

const { commandStr } = Astro.props;

const runs = await db
  .select()
  .from(Run)
  .where(like(Run.command, `${commandStr}%`))
  .innerJoin(OS, eq(Run.osId, OS.id))
  .innerJoin(HW, eq(Run.hwId, HW.id))
  .orderBy(desc(Run.date));
const hwConfigs = await db.select().from(HW);
const osConfigs = await db.select().from(OS);
const durations = runs.map((r) => r.Run.duration);
const barData = [];
for (const hwCfg of hwConfigs) {
  let entry = {
    key: `${hwCfg.cpu_brand}/${Math.floor(hwCfg.mem_total / 1024 / 1000 / 1024)}G/${hwCfg.graphics}`,
    value: [] as any[],
  };
  for (const r of runs) {
    if (r.HW.id === hwCfg.id) {
      entry.value.push(r.Run.duration);
    }
  }
  if (entry.value.length === 0) {
    continue;
  }
  const result = {
    key: entry.key,
    value: Math.floor(entry.value.reduce((a, b) => a + b) / entry.value.length),
  };
  barData.push(result);
}

const avg =
  durations.length === 0
    ? 0
    : durations.reduce((a, b) => a + b) / durations.length;
---

<main class="m-4 grid gap-4">
  <div class="grid grid-cols-2 gap-2">
    <SummaryCard
      icon="mdi:file-document-box-multiple-outline"
      data={runs.length.toString()}
      title="Data entries"
    />
    <SummaryCard
      icon="mdi:computer"
      data={barData.length.toString()}
      title="HW Configs"
    />
  </div><div class="grid grid-cols-3 gap-2">
    <SummaryCard
      icon="mdi:emoticon-happy-outline"
      data={Math.floor(Math.min(...durations)).toString()}
      title="Fastest"
    />
    <SummaryCard
      icon="mdi:emoticon-sad-outline"
      data={Math.floor(Math.max(...durations)).toString()}
      title="Slowest"
    />
    <SummaryCard
      icon="mdi:emoticon-neutral-outline"
      data={Math.floor(avg).toString()}
      title="Average"
    />
  </div>
  <BarChartCard client:only name="Average Time by HW" data={barData} />
</main>
